# SMTP Server Configuration
SMTP_SERVER_HOSTNAME=localhost
SMTP_SERVER_PORT=2525
SMTP_SERVER_ADDRESS=0.0.0.0
SMTP_SERVER_DOMAIN=localhost

# SMTP Client Configuration
SMTP_CLIENT_HOSTNAME=localhost

# Server Features
SMTP_RELAY=false
SMTP_REQUIRE_TLS=false

